x-quality-build: "2026-04-15"
x-quality-test: "2026-04-15"
pin-depends: [
  ["bytesrw.0.3.0" "git+https://github.com/samoht/bytesrw.git#8944bbaa1d142bfe28af0cb04d2a28bf4d53cafd"]
  ["eio.dev" "git+https://github.com/ocaml-multicore/eio.git#085cce2e110b53aa3002a2cdb28502c3f297d374"]
  ["eio_main.dev" "git+https://github.com/ocaml-multicore/eio.git#085cce2e110b53aa3002a2cdb28502c3f297d374"]
  ["eio_posix.dev" "git+https://github.com/ocaml-multicore/eio.git#085cce2e110b53aa3002a2cdb28502c3f297d374"]
]
